* {
    margin: 0px;
    padding: 0px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .glavniy {
    width: 100%;
    height: 100vh;
  }
  .image {
    width: 100%;
    height: 100vh;
  }
  .menyu {
    background-color: #e0b973;
    width: 100px;
    height: 60px;
    position: absolute;
    top: 0%;
    left: 11.09%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shrift {
    font-size: 15px;
    font-family: Adobe Garamond Pro;
    color: #14274a;
    position: absolute;
    top: 14px;
    left: 20px;
  }
  .shrift2 {
    font-size: 7px;
    font-family: Adobe Garamond Pro;
    color: #14274a;
    position: absolute;
    top: 30px;
    left: 35px;
  }
  ul {
    position: absolute;
    right: 100px;
    top: 20px;
  }
  .shrift__text--one {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    top: 163px;
    left: 11.09%;
    color: white;
  }
  .shrift__text--two {
    position: absolute;
    font-family: Adobe Garamond Pro;
    font-size: 50px;
    top: 180px;
    left: 11.09%;
    color: white;
  }
  .shrift__text--three {
    position: absolute;
    font-family: Adobe Garamond Pro;
    font-size: 17px;
    top: 230px;
    left: 11.09%;
    color: white;
  }
  .shrift__text--four {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    top: 250px;
    left: 11.09%;
    color: white;
  }
  .shrift__text--five {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    top: 263px;
    left: 11.09%;
    color: white;
  }
  .div-center {
    position: absolute;
    bottom: 98px;
    background-color: #e0b973;
    right: 43%;
    width: 130px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-radius: 3px;
  }
  .image2 {
    width: 20px;
    position: absolute;
    bottom: 20px;
    right: 49%;
  }
  
  .menyu2__style {
    display: inline;
    flex-direction: row;
    padding: 20px;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .scroll {
    left: 48%;
    bottom: 45px;
    position: absolute;
    color: white;
    font-size: 15px;
  }
  .image3 {
    width: 12px;
    margin: 5px;
  }
  .glavniy2{
  font-size: 12px;
  text-align: center;
  padding: 30px 0;
  }
  .p1{
      font-size: 9px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
      padding: 10px 0; 
    }
    .glavniy3{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
margin-bottom: 60px;
    }
    .image4{
        width: 80%;
    }
.h2{
    position: absolute;
  background-color: white;
  font-size: 20px;
  height: 30px;
  width: 300px;
  text-align: center;
}
.glavniy4 {
    width: 100%;
  }
  .text-center {
    text-align: center;
    padding: 30px;
  }
  .text{
    font-size: 22px;
  }
  .p2 {
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 5px;
  }
  .p7 {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .block-image3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .block-image4 {
    background-color: #e0b973;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image5{
    width: 6px;
  }
  .test{
    width: 0px;
    height: 10px;
  border-bottom: 40px solid #14274A;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  }
  
  .footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-text{
    background-color: #14274A;
    width: 100%;
    height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
  .p13{
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .p12{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .p11{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 7px;
    letter-spacing: 2px;
  }
  .p10{
    font-size: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .search{
    border: 1px solid #e0b973;
    width: 130px;
    height: 20px;
    border-radius: 3px 0px 0px 3px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .search2{
    background-color: #e0b973;
    width: 30px;
    height: 22px;
    border-radius: 0px 3px 3px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .asd{
    display: flex;
   margin: 10px 0px;
  }
  .ok{
    font-size: 10px;
    margin: 3px 0px 0px 12px;
  }
  .ok1{
    font-size: 7px;
    margin: 7px 10px 0px;
  }
  
  
